.home {
  margin: -24px -24px 0;
}

nz-content {
  margin: 24px;
  overflow: initial;
  min-height: initial;
}

.ant-page-header-ghost {
  background-color: #fff;
}

.inner-content {
  min-height: 360px;
  padding: 24px;
}

.ant-page-header-content {
  display: flex;
  width: 100%;
}

.content-title {
  flex: 1 1 auto;
  margin-left: 24px;
}
