<div class="home">
  <nz-content>
    <nz-page-header nzTitle="Home">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item><a routerLink="/admin">Home</a></nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-page-header-content>
        <nz-avatar [nzSize]="72" nzIcon="user" style="background-color:#87d068;"></nz-avatar>
        <div class="content-title">
          <h2>Welkom, {{user.firstName}} {{user.lastName}}!</h2>
        </div>
      </nz-page-header-content>
    </nz-page-header>
    <div class="inner-content">
      <nz-card>

      </nz-card>
    </div>
  </nz-content>
</div>
