root: {
  --main-color: #DE1885;
  --main-color-dark: #bd106f;
  --color-text: white;
}

#error{
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
  line-height: 70px;
  background-color: --main-color;
  width: 50vw;
  margin-left: 25vw;
  color: --color-text;
  padding: 20px;
  border-radius: 10px;
}
