nz-layout {
  height: 100vh;
}

nz-header {
  background: #9370DB;
}

app-roadmap {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
}

.inner-content {
  margin: 3% 20%;
}

.photo-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin: auto;
}

.photo-shadow {
  height: 600px;
  -webkit-box-shadow: 8px 8px 20px #bdbdbd;
  -moz-box-shadow: 8px 8px 20px #bdbdbd;
  box-shadow: 8px 8px 20px #bdbdbd;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.175s ease-out;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img.left {
  /** Default 50% 50% **/
  clip-path: polygon(0% 0%, 0 0, 100% 100%, 100% 100%, 0% 100%);
  z-index: 2;
}

span {
  color: white;
  font-size: 2em;
  position: absolute;
  padding: 20px;
  text-shadow: 1px 1px 3px #565656;
}

span:hover {
  cursor: default;
}

span.left {
  bottom: 0;
  left: 0;
  z-index: 9;
}

span.right {
  top: 0;
  right: 0;
}

img.right:hover ~ img.left {
  /** 30% 70% **/
  clip-path: polygon(0% 0%, 0 30%, 70% 100%, 100% 100%, 0% 100%);
}

img.left:hover {
  /** 70% 30% **/
  clip-path: polygon(0% 0%, 30% 0, 100% 70%, 100% 100%, 0% 100%);
}

img.left.expanded {
  /** 70% 30% **/
  clip-path: polygon(0% 0%, 30% 0, 100% 70%, 100% 100%, 0% 100%);
}

img.left.folded {
  /** 30% 70% **/
  clip-path: polygon(0% 0%, 0 30%, 70% 100%, 100% 100%, 0% 100%);
}

.blurred {
  filter: brightness(0.5) blur(1px);
}
