<nz-layout>
  <nz-header>
    <app-roadmap (onQuestionNavigate)="updateCurrentQuestion($event)"></app-roadmap>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div class="photo-container">
        <div class="photo-shadow">
          <img class="right" [src]="currentQuestion.getSecondSubject().getImageLocation()" #rightsubject/>
          <span class="right">{{ currentQuestion.getSecondSubject().getName() }}</span>

          <img class="left" [src]="currentQuestion.getFirstSubject().getImageLocation()" #leftsubject/>
          <span class="left">{{ currentQuestion.getFirstSubject().getName() }}</span>
        </div>
        <app-emotionbar
          [question]="currentQuestion"
          (onSliderChange)="animatePreference($event)"
        >
        </app-emotionbar>
      </div>
    </div>
  </nz-content>
</nz-layout>
