<div class="employee-list">
  <nz-content>
    <nz-page-header nzTitle="Alle werknemers">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item><a routerLink="/admin">Home</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>Werknemers</nz-breadcrumb-item>
        <nz-breadcrumb-item>Alle werknemers</nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-page-header>
    <div class="inner-content">
      <nz-list class="employees"
               [nzDataSource]="userService.employeesPaginate"
               [nzItemLayout]="'horizontal'"
               [nzLoading]="userService.loading"
               [nzRenderItem]="employee"
               [nzPagination]="pagination">
        <ng-template #employee let-employee>
          <nz-list-item
            [nzContent]="listItemContent"
            [nzActions]="employee.loading ? [] : [detailAction, deleteAction]">
            <nz-skeleton
              [nzAvatar]="true"
              [nzActive]="true"
              [nzTitle]="false"
              [nzLoading]="employee.loading">
              <ng-template #detailAction>
                <a [routerLink]="['/admin/employees', employee.id]">Details</a>
              </ng-template>
              <ng-template #deleteAction>
                <a nz-popconfirm
                   [nzPlacement]="'left'"
                   [nzTitle]="'Weet je het zeker?'"
                   [nzIcon]="deleteConfirmIcon"
                   [nzOkText]="'Verwijderen'"
                   (nzOnConfirm)="removeEmployee(employee.id)"
                >Verwijderen</a>
              </ng-template>
              <nz-list-item-meta
                [nzTitle]="listItemTitle"
                [nzAvatar]="(employee.avatar)?avatar:avatarDefault"
                [nzDescription]="employee.email">
              </nz-list-item-meta>
            </nz-skeleton>
          </nz-list-item>
          <ng-template #avatar>
            <nz-avatar nzIcon="user" [nzSrc]="employee.avatar"></nz-avatar>
          </ng-template>
          <ng-template #avatarDefault>
            <nz-avatar nzIcon="user"></nz-avatar>
          </ng-template>
          <ng-template #listItemTitle>
            {{employee.firstName}} {{employee.lastName}}
<!--            <nz-tag [nzColor]="'red'">{{employee.numProjects}}</nz-tag>-->
          </ng-template>
          <ng-template #listItemContent>
            <nz-tag [nzColor]="'#87d068'">{{employee.numProjects}} projecten</nz-tag>
          </ng-template>
          <ng-template #deleteConfirmIcon>
            <i nz-icon nzType="exclamation-circle" nzTheme="twotone" nzTwotoneColor="red"></i>
          </ng-template>
        </ng-template>
        <ng-template #pagination>
          <nz-pagination [(nzPageIndex)]="userService.pageIndex"
                         [nzTotal]="userService.total"
                         [(nzPageSize)]="userService.pageSize"
                         (nzPageSizeChange)="userService.paginate()"
                         (nzPageIndexChange)="userService.paginate()"></nz-pagination>
        </ng-template>
      </nz-list>
    </div>
  </nz-content>
</div>
