.header{
  margin: 0px;
  background-color: #f5f5f5;
  padding: 2% 15% 2% ;
  overflow: hidden;

}

img{
  width: 200px;
  height: 100px;
}
.logo{
  width: 30%;
  float: left;
}

.projectTitle{
  float: left;
  margin-top: 80px;
  margin-left: 100px;
  font-size: 25px;
}

.language{
  overflow: hidden;
  text-align: right;
}

.content{
  width: 1000px;
  height: auto;
  margin: auto;

  background-color: #fff;
}

