<div class="header">
  <div class="logo">
    <img class="image" src="../../../../assets/ggd_amsterdam_logo.png">
  </div>
  <div class="projectTitle">
    <h2 *ngIf="this.router.url == '/intro'">Oosterpark</h2>
  </div>
  <div class="language">
    <select id="taal" [(ngModel)]="taal" value="{{taal}}" (change)="onChangeLanguage()" >
      <option value="Engels">ENG</option>
      <option value="Nederlands">NL</option>
    </select>  </div>
</div>


  <div class="content">
    <router-outlet></router-outlet>
  </div>
