
@media only screen and (max-width: 600px) {
}

.image{
  width: 100%;
}


h1{
  color: white;
}


.header{
  width: 100%;
  height: 150px;
  background-color: #9370DB;
  border-radius: 0 0 20px 20px;
  text-align: center;
  padding-top: 50px;
}

.info{
  width: 700px;
  height: auto;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 5px 8px 0 #a0a2a1 , 0 6px 20px 0 #a0a2a1;
  margin: 10px auto;
  padding: 20px;
}

.startBtn {
  margin: 10px;
  height: auto;
  width: Auto;
  padding: 15px;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #9370DB;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #59478d;
}

.startBtn:hover {background-color: #7b5eb9
}

.startBtn:active {
  background-color: #7b5eb9;
  box-shadow: 0 5px #59478d;
  transform: translateY(4px);
}

#error{
  color: red;
  font-size: 30px;
  font-style: italic;
}
