.container{
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;



    display: flex;
    justify-content: left;
    align-items: center;
}

.form{
    width: 60%;
    
}

.form label{
    flex: 1;
    padding: .5em 1em .5em 0;
}

.form input, .form textarea{
    flex: 2;
}

.form-row{
    display: flex;
    justify-content: flex-end;
    padding: .5em; 
}

.project-create {
    margin: -24px -24px 0;
}
  
nz-content {
margin: 24px;
overflow: initial;
min-height: initial;
}

.inner-content {
margin: 24px;
background: #fff;
min-height: 360px;
padding: 24px;
}

[nz-form] {
max-width: 600px;
}

button {
margin-left: 8px;
}
  
.map{
    width: 40%;

    margin-left: 10px;
}
agm-map{
    height: 300px;
    width: 400px;
}