<div class="project-create">
    <nz-content>
      <nz-page-header nzTitle="Project toevoegen">
        <nz-breadcrumb nz-page-header-breadcrumb>
          <nz-breadcrumb-item><a routerLink="/admin">Home</a></nz-breadcrumb-item>
          <nz-breadcrumb-item>Projecten</nz-breadcrumb-item>
          <nz-breadcrumb-item>Project toevoegen</nz-breadcrumb-item>
        </nz-breadcrumb>
      </nz-page-header>
      <div class="inner-content">

        <div class="container">
            <form #f="ngForm" class="form">
                <li class="form-row">
                    <label for="projectId">Project id: </label>
                    <input name="projectId" type="text" [(ngModel)]="project.id" required/>
                </li>
                <li class="form-row">
                    <label for="projectName">Naam: </label>
                    <input name="projectName" type="text" [(ngModel)]="project.name" required/>
                </li>
                <li class="form-row">
                    <label for="projectDescription">Beschrijving: </label>
                    <textarea name="projectDescription" type="text" [(ngModel)]="project.description" required rows="5" cols="40"></textarea>
                </li>
                <li class="form-row">
                    <label for="projectType">Type: </label>
                    <input name="projectType" type="text" [(ngModel)]="project.type" required/>
                </li>
                <li class="form-row">
                        <label for="projectEnd">Eind datum: </label>
                        <input name="projectEnd" type="date" [ngModel]="project.endDate | date:'yyyy-MM-dd'" (ngModelChange)="project.endDate = $event"
                        [value]="project.endDate | date:'yyyy-MM-dd'" #project.endDate="ngModel" required/>
                </li>
                <button (click)="saveProject()">Sla op</button>
            </form>
            <div class="map">
            <agm-map [zoom]="11" [latitude]="startLat" [longitude]="startLng" (mapClick)="changePickupMarkerLocation($event)">
                    <agm-marker [latitude]="project.position.latitude" [longitude]="project.position.longitude"></agm-marker>
            </agm-map>
        </div>
        </div>
        </div>
</nz-content>
</div>