.container{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    background-image: url('../../../../assets/park-image.jpeg');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: #ffffff;
    border-radius: 25px;

    width: 40%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input{
    width: 60%;
    padding: 5px;
    margin: 8px;
    border-radius: 25px;
    background-color: #D3D3D3;
    color: #000000;
    border: none;
}

.form input::placeholder{
    color: #000000;
}

.form h1{
    color: #000000;
}

.form button{
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
    border: none;

    font-size: 13px;

    width: 30%;

    background-color: #D3D3D3;
    color: #000000;
}

.logo{
    width: 30%;
    margin-bottom: 5%;
    position: relative;
}