<div class="container">
    <form #f="ngForm" class="form">
        <img class="logo" src="assets/ggd_amsterdam_logo.png"/>
        <h1>Login</h1>
        <input  name="username" class="username" placeholder="Gebruikersnaam" type="text" ngModel/>
        <input name="password" class="password" placeholder="Wachtwoord"  type="password" ngModel/>
        <button (click)="checkCred(f)">Login</button>
    </form>
</div>
