<nz-layout class="left-layout">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzBreakpoint]="'lg'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger"
    [nzWidth]="250"
    nzTheme="light">
    <ng-container [ngTemplateOutlet]="showLogo"></ng-container>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item [routerLink]="['/admin']"
          [class.ant-menu-item-selected]="isRouterLinkActive('admin/home', true)">
        <i nz-icon nzType="dashboard"></i>
        <span>Dashboard</span>
      </li>
      <li nz-submenu [(nzOpen)]="openMap.projects" (nzOpenChange)="openHandler('projects')" nzTitle="Projecten"
          nzIcon="project">
        <ul>
          <li nz-menu-item [routerLink]="['projects/add']"
              [class.ant-menu-item-selected]="isRouterLinkActive('admin/projects/add', true)">
            <span>Project toevoegen</span>
          </li>
          <li nz-menu-item [routerLink]="['projects/list']"
              [class.ant-menu-item-selected]="isRouterLinkActive('admin/projects/list', true)">
            <span>Jouw projecten</span>
          </li>
          <li nz-menu-item [routerLink]="['projects/list-all']"
              [class.ant-menu-item-selected]="isRouterLinkActive('admin/projects/list-all', true)">
            <span>Alle projecten</span>
          </li>
        </ul>
      </li>
      <li nz-submenu
          [class.ant-menu-submenu-active]="openMap.employees"
          [(nzOpen)]="openMap.employees"
          (nzOpenChange)="openHandler('employees')" nzTitle="Werknemers"
          nzIcon="user">
        <ul>
          <li nz-menu-item [routerLink]="['employees']"
              [class.ant-menu-item-selected]="isRouterLinkActive('admin/employees', true)">
            <i nz-icon nzType="user"></i>
            <span>Alle werknemers</span>
          </li>
          <li nz-menu-item [routerLink]="['employees/add']"
              [class.ant-menu-item-selected]="isRouterLinkActive('admin/employees/add', true)">
            <i nz-icon nzType="user-add"></i>
            <span>Werknemer toevoegen</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout" [class.sider-collapsed]="isCollapsed">
    <nz-header>
      <span class="navbar">
        <ng-container *ngIf="isCollapsed; then showLogo"></ng-container>
        <span class="search">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="input search text"/>
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </span>
        <span class="account" nz-dropdown [nzDropdownMenu]="accountMenu">
          <nz-avatar nzSize="small" style="background-color:#87d068;" nzIcon="user"></nz-avatar>
          {{user.username}}
        </span>
          <nz-dropdown-menu #accountMenu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item [routerLink]="['account']">Account</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="logout()">Uitloggen</li>
            </ul>
          </nz-dropdown-menu>
      </span>
    </nz-header>
    <router-outlet></router-outlet>
    <nz-footer>GGD Team 1 © 2019 HvA HBO-ICT</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
</ng-template>
<ng-template #showLogo>
  <div class="logo">
    <img src="assets/ggd_amsterdam_logo.png" alt="GGD Amsterdam">
  </div>
</ng-template>
