.logo {
  position: relative;
  height: 64px;
  width: 250px;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  z-index: 2;
}

.logo img {
  height: 54px;
  margin-top: 5px;
  vertical-align: inherit;
  padding: 0 24px;
}

.left-layout {
  height: 100vh;
}

.ant-menu-inline {
  border: none;
}

.ant-layout-sider {
  transition: none;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  z-index: 1;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
}

.right-layout {
  margin-left: 250px;
}

.right-layout.sider-collapsed {
  margin-left: 0;
  transition: all 0.2s;
}

nz-header {
  background: #fff;
  padding: 0;
  z-index: 2;
}

.navbar {
  height: 100%;
  display: flex;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

.navbar .search {
  margin-left: auto;
}

.navbar>span {
  padding: 0 12px;
}

nz-footer {
  text-align: center;
}

@media (max-width: 991px) {
  .logo {
    box-shadow: none;
  }

  nz-sider {
    overflow: initial;
  }

  .ant-layout-sider {
    transition: all 0.2s;
  }
}
