
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


.code-block{
  width: 700px;
  height: auto;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 5px 8px 0 #a0a2a1 , 0 6px 20px 0 #a0a2a1;
  margin: auto;
}
.code-block-content{
  padding: 20px;
  margin: 60px;
}

#taal{

  float: right;
  margin-right: -40px;
}

h1{
  font-size: 30px;
}

.code-input{
  height: 70px;
  width: 145px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

::placeholder{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.enterBtn {
  margin: 10px;
  height: auto;
  width: Auto;
  padding: 15px;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #9370DB;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #59478d;
}

.enterBtn:hover {background-color: #7b5eb9
}

.enterBtn:active {
  background-color: #7b5eb9;
  box-shadow: 0 5px #59478d;
  transform: translateY(4px);
}

#error{
  color: red;
  font-size: 30px;
  font-style: italic;
}
