<div class="container">
    <div class="code-block-content">
      <h1>Vul je project code in!</h1>
      <input class="code-input" type="text" maxlength="5" placeholder="12345" [(ngModel)]="code"><br>
      <button (click)="onEnterCode()" class="enterBtn">Enter</button>
      <p id="error">{{error}}</p>
    </div>
</div>

