<div class="navigateLeft">
  <i [ngClass]="hasPreviousQuestion() ? '' : 'disabled'" nz-icon nzType="left" nzTheme="outline" (click)="navigateLeft()"></i>
</div>
<svg>
  <line
    x1="10"
    y1="30"
    x2="380"
    y2="30"
  ></line>
  <circle
    r="10"
    [attr.cx]="40 * i + 20"
    cy="30"
    [attr.fill]="i == currentQuestionIndex ? '#9370DB' : 'white'"
    [attr.stroke]="i == currentQuestionIndex ? 'white' : 'none'"
    [attr.stroke-width]="i == currentQuestionIndex ? '4' : '1'"
    *ngFor="let question of questionaireService.getQuestions(); index as i"
  ></circle>
</svg>
<div class="navigateRight">
  <i nz-icon nzType="right" nzTheme="outline" (click)="navigateRight()"></i>
</div>
