svg {
  width: 100%;
}

svg > circle {
  transition: stroke-width 0.075s ease-out;
}

svg > line {
  stroke: white;
  stroke-width: 2;
}

div {
  color: white;
  font-size: 2.2em;
  padding: 0 80px;
}

div > i:not(.disabled):hover {
  cursor: pointer;
}

div.navigateLeft > i:not(.disabled):hover {
  transform: translate(-4px, 0px);
}

div.navigateRight > i:hover {
  transform: translate(4px, 0px);
}

i {
  transition: transform 0.275s ease-out;
}

.navigateLeft {
  text-align: right;
}

.disabled {
  color: #aea5c1;
}



