<div class="container">
  <div class="info">
    <div class="image">
      <img class="image" src="../../../../assets/oosterpark.png">
    </div>
    <div class="project-info">
      <p>{{info}}</p>
    </div>
    <div class="user-info">
      <h3>Als je wil kan je ons wat informatie over jezelf geven!</h3>
      <p>Leeftijd: </p>
      <input [(ngModel)]="leeftijd" type="number" name="Leeftijd" min="1" max="120">
      <p>Geslacht:</p>
      <select  [(ngModel)]="geslacht">
        <option value='Man'>Man</option>
        <option value='Vrouw'>Vrouw</option>
        <option value='Anders'>Anders</option>
      </select><br>
      <button class="startBtn" (click)="onStart()">Start</button>
      <p id="error">{{error}}</p>
    </div>

  </div>

</div>
