<div class="project-create">
        <nz-content>
          <nz-page-header nzTitle="Project toevoegen">
            <nz-breadcrumb nz-page-header-breadcrumb>
              <nz-breadcrumb-item><a routerLink="/admin">Home</a></nz-breadcrumb-item>
              <nz-breadcrumb-item>Projecten</nz-breadcrumb-item>
              <nz-breadcrumb-item>Project toevoegen</nz-breadcrumb-item>
            </nz-breadcrumb>
          </nz-page-header>
          <div class="inner-content">

            <div class="container">
                <form #f="ngForm" class="form">
                    <li class="form-row">
                        <label for="projectId">Project id: </label>
                        <input name="projectId" type="text" ngModel required/>
                    </li>
                    <li class="form-row">
                        <label for="projectName">Naam: </label>
                        <input name="projectName" type="text" ngModel required/>
                    </li>
                    <li class="form-row">
                        <label for="projectDescription">Beschrijving: </label>
                        <textarea name="projectDescription" type="text" ngModel required rows="5" cols="40"></textarea>
                    </li>
                    <li class="form-row">
                        <label for="projectType">Type: </label>
                        <input name="projectType" type="text" ngModel required/>
                    </li>
                    <li class="form-row">
                            <label for="projectEnd">Eind datum: </label>
                            <input name="projectEnd" type="date" ngModel required/>
                    </li>
                    <button (click)="addProject(f)">Voeg toe</button>
                </form>
                <div class="map">
                <agm-map [zoom]="11" [latitude]="startLat" [longitude]="startLng" (mapClick)="changePickupMarkerLocation($event)">
                        <agm-marker *ngIf="showMarker" [latitude]="markerLat" [longitude]="markerLng"></agm-marker>
                </agm-map>
            </div>
            </div>
            </div>
    </nz-content>
</div>