.emotionbar {
  margin-top: 100px;
  -webkit-appearance: none;
  height: 20px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  width: 600px;
}

.emotionbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #70d424;
  cursor: pointer;
}

.emotionbar::-moz-range-thumb {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #70d424;
  cursor: pointer;
}

.emotionbar::-webkit-slider-thumb:hover {
  cursor: ew-resize;
}

.emotionbar::-moz-range-thumb:hover {
  cursor: ew-resize;
}

input[ng-reflect-model="1"]::-webkit-slider-thumb,
input[ng-reflect-model="5"]::-webkit-slider-thumb {
  background: #4CAF50;
}

input[ng-reflect-model="1"]::-moz-range-thumb,
input[ng-reflect-model="5"]::-moz-range-thumb {
  background: #4CAF50;
}


input[ng-reflect-model="3"]::-webkit-slider-thumb {
  background: #00bfa5;
}

input[ng-reflect-model="3"]::-moz-range-thumb {
  background: #00bfa5;
}

