<div class="project-list">
    <nz-content>
      <nz-page-header nzTitle="Alle projecten">
        <nz-breadcrumb nz-page-header-breadcrumb>
          <nz-breadcrumb-item><a routerLink="/admin">Home</a></nz-breadcrumb-item>
          <nz-breadcrumb-item>Projecten</nz-breadcrumb-item>
          <nz-breadcrumb-item>Alle Projecten</nz-breadcrumb-item>
        </nz-breadcrumb>
      </nz-page-header>
      <div class="inner-content">
        <nz-list
              class="demo-loadmore-list"
              [nzDataSource]="projectService.projects"
              [nzItemLayout]="'horizontal'"
              [nzLoading]="initLoading"
              [nzRenderItem]="item"
              [nzLoadMore]="loadMore"
            >
              <ng-template #item let-item>
                <nz-list-item
                  [nzActions]="item.loading ? [] : [editAction, moreAction]"
                >
                  <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
                    <ng-template #editAction><a (click)="edit(item)">wijzigen</a></ng-template>
                    <ng-template #moreAction><a (click)="delete(item)">verwijderen</a></ng-template>
                    <nz-list-item-meta
                      [nzTitle]="nzTitle"
                      nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                      nzDescription="{{item.description}}"
                    >
                      <ng-template #nzTitle>
                        {{ item.name }}
                      </ng-template>
                    </nz-list-item-meta>
                  </nz-skeleton>
                </nz-list-item>
              </ng-template>
        </nz-list>
    </div>
  </nz-content>
</div>