.project-list {
    margin: -24px -24px 0;
  }

  nz-content {
    margin: 24px;
    overflow: initial;
    min-height: initial;
  }

.ant-page-header-ghost {
  background-color: #fff;
}

  .inner-content {
    margin: 24px;
    background: #fff;
    min-height: 360px;
    padding: 24px;
  }
