<div class="employee-detail">
  <nz-content>
    <nz-page-header nzTitle="{{breadcrumb.title}}">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item><a routerLink="/admin">Home</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>{{breadcrumb.route}}</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{breadcrumb.title}}</nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-page-header>
    <div class="inner-content">
      <div nz-row>
        <div nz-col nzMd="24" nzLg="7">
          <nz-card>
            <div class="avatar-holder">
              <nz-avatar [nzSize]="104" nzIcon="user"></nz-avatar>
              <div class="name">Jeff Dijkema</div>
              <div>Werknemer functie</div>
            </div>
            <div class="details">
              <p>
                <i nz-icon nzType="phone" nzTheme="outline"></i>
                06 12345678
              </p>
              <p>
                <i nz-icon nzType="mail" nzTheme="outline"></i>
                jeff.dijkema@example.com
              </p>
              <p>
                <i nz-icon nzType="environment" nzTheme="outline"></i>
                Centrum
              </p>
            </div>
            <nz-divider></nz-divider>
            <div class="edit">
              <p><a routerLink="/admin/account/edit">
                <i nz-icon nzType="user" nzTheme="outline"></i>
                Gegevens wijzigen
              </a></p>
              <p> <a routerLink="/admin/account/edit-pwd">
                <i nz-icon nzType="lock" nzTheme="outline"></i>
                Wachtwoord wijzigen
              </a></p>
            </div>
          </nz-card>
        </div>
        <div nz-col nzMd="24" nzLg="17">
          <nz-card>
            <nz-list [nzDataSource]="projects"
                     [nzItemLayout]="'vertical'"
                     [nzRenderItem]="project">
              <ng-template #project let-project>
                <nz-list-item [nzContent]=""
                              [nzActions]="[detailAction]"
                              [nzExtra]="extra">
                  <ng-template #detailAction><i nz-icon nzType="project" style="margin-right: 8px;"></i> Details
                  </ng-template>
                  <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="project.description">
                    <ng-template #nzTitle>
                      <a routerLink="/admin/projects/1">{{ project.title }}</a>
                    </ng-template>
                  </nz-list-item-meta>
                  <ng-template #extra>
                    <img width="272" alt="logo"
                         src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png"/>
                  </ng-template>
                </nz-list-item>
              </ng-template>
            </nz-list>
          </nz-card>
        </div>
      </div>
    </div>
  </nz-content>
</div>
