.employee-detail {
  margin: -24px -24px 0;
}

nz-content {
  margin: 24px;
  overflow: initial;
  min-height: initial;
}

.ant-page-header-ghost {
  background-color: #fff;
}

.inner-content {
  min-height: 360px;
  padding: 24px;
}

.ant-row > div {
  padding: 0 12px;
}

.avatar-holder {
  margin-bottom: 24px;
  text-align: center;
}

.avatar-holder nz-avatar {
  margin-bottom: 20px;
}

.avatar-holder .name {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, .85);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.details p, .edit p {
  position: relative;
  margin-bottom: 8px;
  padding-left: 26px;
}

.details i, .edit i {
  position: absolute;
  top: 4px;
  left: 0;
  width: 14px;
  height: 14px;
}
