<div class="project-list-all">
  <nz-content>
    <nz-page-header nzTitle="Alle projecten">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item><a routerLink="/admin">Home</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>Projecten</nz-breadcrumb-item>
        <nz-breadcrumb-item>Alle Projecten</nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-page-header>
    <div class="inner-content">
      <div class="settings">
        <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Resultaten exporteren</span></button>
        <nz-modal [(nzVisible)]="modalVisible"
                  nzTitle="Resultaten exporteren"
                  (nzOnCancel)="handleModalCancel()"
                  (nzOnOk)="handleModalSubmit()"
                  [nzOkLoading]="isConfirmLoading">
          <p>Hieronder kun je selecteren welke kolommen je wilt behouden</p>
          <div style="border-bottom: 1px solid rgb(233, 233, 233);">
            <label
              nz-checkbox
              [(ngModel)]="showAllColumns"
              (ngModelChange)="updateAllChecked()"
              [nzIndeterminate]="indeterminate">
              Selecteer alles
            </label>
          </div>
          <br/>
          <nz-checkbox-group [(ngModel)]="mapOfShownColumns"
                             (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
        </nz-modal>
      </div>
      <nz-table #projectsTable [nzData]="projects" [nzSize]="'middle'">
        <thead>
        <tr>
          <th>Naam</th>
          <th>Stadsdeel</th>
          <th>Aantal resultaten</th>
          <th>Startdatum</th>
          <th>Einddatum</th>
          <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of projectsTable.data">
          <td>{{data.name}}</td>
          <td>{{data.area}}</td>
          <td>{{data.type}}</td>
          <td>{{formatDate(data.startDate)}}</td>
          <td>{{formatDate(data.endDate)}}</td>
          <td><a [routerLink]="['/admin/projects', data.id]">Details</a></td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</div>
