<div class="employee-edit-pwd">
  <nz-content>
    <nz-page-header nzTitle="Wachtwoord wijzigen">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item><a routerLink="/admin">Home</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>Account</nz-breadcrumb-item>
        <nz-breadcrumb-item>Wachtwoord wijzigen</nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-page-header>
    <div class="inner-content">
      <p *ngIf="showHelp">Voor een beter beveiliging moet je een nieuwe wachtwoord aanmaken</p>
      <form nz-form [formGroup]="form">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
            <input
              nz-input
              type="password"
              id="password"
              formControlName="password"
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
            <input nz-input type="password" formControlName="confirm" id="confirm" />
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('confirm')">
                Wachtwoord komt niet overeen!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button type="button" nz-button nzType="primary" (click)="changePassword()" [disabled]="!form.valid">Wijzigen</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </nz-content>
</div>
