<div class="employee-edit">
  <nz-content>
    <nz-page-header nzTitle="Gegevens bewerken">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item><a routerLink="/admin">Home</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>Account</nz-breadcrumb-item>
        <nz-breadcrumb-item>Gegevens bewerken</nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-page-header>
    <div class="inner-content">
      <p *ngIf="showHelp">Om verder te gaan op deze platform hebben we de volgende gegevens van je nodig</p>
      <form nz-form [formGroup]="form">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">Voornaam</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="firstName" id="firstName">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastNamePrefix">Tussenvoegsel</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="lastNamePrefix" id="lastNamePrefix">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">Achternaam</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="lastName" id="lastName">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Voer een geldige email adres in!">
            <input nz-input formControlName="email" id="email"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Telefoon nummer</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24"
                           [nzValidateStatus]="isValidPhone ? 'success' : 'error'"
                           nzErrorTip="Voer een geldige telefoon nummer in!">
            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
              <ng-template #addOnBeforeTemplate>
                <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                  <nz-option nzLabel="06" nzValue="mob"></nz-option>
                  <nz-option nzLabel="020" nzValue="tel"></nz-option>
                </nz-select>
              </ng-template>
              <input nz-input formControlName="phoneNumber" id="'phoneNumber'"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="function">Functie</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="function" id="function">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="area">Stadsdeel</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Voer een geldige stadsdeel in!">
            <nz-select id="area"
                       formControlName="area"
                       nzPlaceHolder="Selecteer een stadsdeel">
              <nz-option nzValue="central" nzLabel="Centrum"></nz-option>
              <nz-option nzValue="newwest" nzLabel="Nieuw-West"></nz-option>
              <nz-option nzValue="north" nzLabel="Noord"></nz-option>
              <nz-option nzValue="east" nzLabel="Oost"></nz-option>
              <nz-option nzValue="west" nzLabel="West"></nz-option>
              <nz-option nzValue="south" nzLabel="Zuid"></nz-option>
              <nz-option nzValue="southeast" nzLabel="Zuidoost"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button type="button" nz-button nzType="primary" (click)="addCredentials()" [disabled]="!form.valid ? true : !form.dirty">Wijzigen</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </nz-content>
</div>
