nz-layout {
  height: 100vh;
}


.inner-content {
  margin: auto 30%;
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

h1 {
  color: #9370DB;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
}

form {
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

form > div {
  display: flex;
  flex-direction: column;
}

input[type="number"] {
  border: 2px solid #707070;
  border-radius: 8px;
  padding: 8px;
  padding-left: 15px;
  font-size: 1.8em;
  max-width: 180px;
}

.gender {
  width: 30%;
}

.age {
  width: 70%;
}

label {
  font-size: 1.2em;
  color: #808080;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

input[type="radio"] {
  display: block;
  -webkit-appearance: none;
  height: 60px;
  width: 60px;
  margin: 0px;
}

input[type="radio"]:focus {
  outline: none;
}

#genderChoice {
  display: flex;
  flex-direction: row;
}

#male {
  background-image: url("Resources/Male.svg");
  margin-right: 15px;
}

#male:checked {
  background-image: url("Resources/Male selected.svg");
}

#female {
  background-image: url("Resources/Female.svg");
}

#female:checked {
  background-image: url("Resources/Female selected.svg");
}

button {
  padding: 15px 40px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.back {
  border: 2px solid #7b5eb9;
  background: transparent;
  color: #7b5eb9;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-right: 30px;
  width: 50%;
  max-width: 120px;
}

.results {
  background: #7b5eb9;
  color: white;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 50%;
  min-width: 180px;
}

@media only screen and (max-width: 1200px) {
  .inner-content {
    margin: auto 15%;
  }

  form {
    flex-direction: column;
  }

  form > div {
    width: 100%;
  }
}
