<nz-layout>
  <nz-content>
    <div class="inner-content">
      <h1>Uw stem telt mee</h1>
      <h2>Bedankt voor het invullen van de vragenlijst.</h2>
      <p>
        Om GGD te helpen een beter inzicht te geven over de behoeftes van Amsterdam, <br>
        nodigen wij u uit om een aantal gegevens achter te laten.
      </p>
      <form>
        <div class="gender">
          <label for="genderChoice">Geslacht</label>
          <div id="genderChoice">
            <input name="gender" value="1" id="male" type="radio"/>
            <input name="gender" value="2" id="female" type="radio"/>
          </div>
        </div>
        <div class="age">
          <label for="age">Leeftijd</label>
          <input id="age" type="number" min="1" max="150"/>
        </div>
      </form>
      <div class="buttons">
        <button type="button" class="back" (click)="goBack()" class="back">Terug</button>
        <button type="button" class="results" (click)="goToResults()">Mijn resultaten</button>
      </div>
    </div>
  </nz-content>
</nz-layout>
