#wrapper-all{
  display: grid;
  grid-template-columns: 50%  auto;
  grid-row-gap: 50px;
  width: 80%;
  height: 70%;
  margin-left: 10%;
  border-radius: 20px;
  background-color: rgba(240, 242, 245, 1);
  padding: 50px;
}


p{
  font-family: roboto;
  font-size: 40px;
}

#title{
  color: #9370DB;
  text-align: center;
}

#wrapper-top3{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap:10px;
  margin: 5%;
}
.grid-item{
  align-self: end;
}
.grid-buttons {
  grid-column: span 2;
}

.desc{
  font-size: 14px;
  text-align: center;
}

.place{
  border: 1px solid #9370DB;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  color: #9370DB;
}
.third{
  height: 150px;
}
.first{
  height: 220px;
}
.second{
  height: 180px;
}
#devider{
  diplay: none;
}

#wrapper-button{
  margin-top: 20px;
}

nz-header {
  background: #9370DB;
}

nz-layout {
  height: 100vh;
}

button{
  width: 40%;
  height: 40px;
  border: 1px solid #9370DB;
  background-color: white;
  margin: 0 0 5% 5%;
  border-radius: 17px;
  box-shadow: 1px 1px 2px grey;
}
.back{
  color: #9370DB;
}
.all-results{
  background-color: #9370DB;
  color: white;
}


@media only screen and (max-width: 600px) {
  #wrapper-all{
    display: block;
    grid-template-columns: 50% auto 50%;
    width: 100%;
    height: 100%;
    margin-left: 0;
    border-radius: 0;
    padding: 0px;
  }

  p{
    font-family: roboto;
    font-size: 40px;
  }

  #title{
    color: #9370DB;
    text-align: center;
  }

  #wrapper-top3{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap:10px;
    margin: 5%;
  }
  .grid-item{
    align-self: end;
    text-align: center;
  }
  .desc{
    font-size: 14px;
    text-align: center;
  }

  .place{
    border: 1px solid #9370DB;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    color: #9370DB;
  }
  .third{
    height: 50px;
  }
  .first{
    height: 120px;
  }
  .second{
    height: 80px;
  }
  #devider{
    align-self: center;
    width: 70%;
    border: 0;
    border-top: 1px solid #9370DB;
    margin-bottom: 20px;
  }

  #myChart{
  }

  #wrapper-button{
    margin-top: 20px;
  }

  button{
    width: 40%;
    height: 40px;
    border: 1px solid #9370DB;
    background-color: white;
    margin: 0 0 5% 5%;
    border-radius: 17px;
    box-shadow: 1px 1px 2px grey;
  }
  .back{
    margin-top: 5%;
    color: #9370DB;
    margin-left: 0px;
  }
  .all-results{
    background-color: #9370DB;
    color: white;
    margin-left: 0px;
  }

}
