<nz-layout>
  <nz-header>
  </nz-header>
  <nz-content>
    <section id="wrapper-all">
      <div class="grid-item">
        <section id="wrapper-top3">
          <div class="grid-item">
            <p class="desc">{{thirdPlace}}</p>
            <div class="third place">#3</div>
          </div>
          <div class="grid-item">
            <p class="desc">{{firstPlace}}</p>
            <div class="first place">#1</div>
          </div>
          <div class="grid-item">
            <p class="desc">{{secondPlace}}</p>
            <div class="second place">#2</div>
          </div>
        </section>
      </div>

      <div class="grid-item">
        <section id="pie-chart">
          <canvas id="myChart" width="400" height="200" #canvas></canvas>
        </section>

      </div>
      <div class="grid-buttons">
        <button type="button" name="button" (click)="goBack()" class="back"> Terug</button>
        <button type="button" name="button" class="all-results">Mijn resultaten</button>
      </div>
    </section>
  </nz-content>
</nz-layout>
